<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediALERT - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-container">
        <header>
            <div class="container">
                <div id="branding">
                    <a href="{{ url_for('main.index') }}" class="logo-link">
                        <!-- <img class="logo" src="{{ url_for('static', filename='images/MediALERT logo (Small).png') }}" alt="MediALERT Logo"> -->
                        <span class="logo-text large-logo-text"><span class="highlight">Medi</span>ALERT</span>
                    </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('main.index') }}">Home</a></li>
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>

        <main class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>

        <footer>
            <div class="container">
                <p>&copy; 2024 MediALERT. All rights reserved.</p>
            </div>
        </footer>
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>
